<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yetta.pilipili.dao.dd.commentInfoMapper">
  <resultMap id="BaseResultMap" type="com.yetta.pilipili.entity.commentInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
  </resultMap>
  <insert id="insert" parameterType="com.yetta.pilipili.entity.commentInfo">
    insert into comment_info (id, video_id, user_id, 
      content, update_time, login_name
      )
    values (#{id,jdbcType=INTEGER}, #{videoId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{loginName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yetta.pilipili.entity.commentInfo">
    insert into comment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>