<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yetta.pilipili.dao.dd.starInfoMapper">
  <resultMap id="BaseResultMap" type="com.yetta.pilipili.entity.starInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="blood" jdbcType="VARCHAR" property="blood" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="constellation" jdbcType="VARCHAR" property="constellation" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
  </resultMap>
  <insert id="insert" parameterType="com.yetta.pilipili.entity.starInfo">
    insert into star_info (id, name, alias, 
      sex, region, blood, 
      birthday, constellation, occupation, 
      image, introduction)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{blood,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{constellation,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yetta.pilipili.entity.starInfo">
    insert into star_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="blood != null">
        blood,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="constellation != null">
        constellation,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="blood != null">
        #{blood,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="constellation != null">
        #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>